.basket_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    background: #090909;
    padding: 25px;
    border-radius: 10px;
}

.basket_product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    min-height: 30vh;
}

.total_price {
    font-size: 1.5rem;
    font-weight: bolder;
}
