.basket_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background: #0e0e0e;
    padding: 10px;
    border-radius: 10px;
}

.basket_product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #505050;
    padding: 0 0 10px 0;
    border-radius: 10px;
}

.basket_product img {
    border-radius: 10px 10px 0 0;
}

.basket_product .product_name, .basket_product .product_price {
    font-size: 1rem;
}

.total_price {
    font-size: 1.25rem;
    font-weight: bolder;
}
