.basket_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background: var(--dark-background);
    border-radius: 10px;
    padding: 10px;
}

.basket_product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid #505050;
    border-radius: 10px;

    img {
        border-radius: 10px 10px 0 0;
    }

    input[type="number"] {
        background: var(--dark-2-background) !important;
    }
}

.basket_product .product_name, .basket_product .product_price {
    font-size: 1rem;
}

.total_price {
    font-size: 1.25rem;
    font-weight: bolder;
}

.basket_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0 10px 10px 10px;

    button, input {
        background: var(--dark-2-background) !important;
        width: 100%;
        border-radius: 10px !important;
    }
}
