.orders {
    display: grid;
    gap: 50px;
}

.order_header {
    margin-bottom: 5px;
}

.order {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    gap: 25px;
    padding: 25px;
    background: #202020;
}

.order_product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 10vw;
    padding: 5px 10px;
    min-height: 30vh;
    border: 1px solid #2b2b2b;
    border-radius: 10px;
}

.order_confirmed {
    grid-template-columns: repeat(6, 1fr);
}
