@tailwind base;
@tailwind components;
@tailwind utilities;

/* Загальні стилі */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: #000000;
    color: #ffffff;
}

/* Шапка */
header {
    background-color: #1d1d1d;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

main {
    min-height: 90vh;
    padding: 2.5vh 2.5vw;
}

/* Футер */
footer {
    background-color: #1d1d1d;
    color: #8a8a8a;
    font-size: 1.25rem;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Іконки в шапці */
.header_icon {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 0;
}

/* Поле вводу */
input, textarea {
    background: #000000 !important;
    color: #ffffff !important;
    border-radius: 15px !important;
    border: none;
}

input::file-selector-button {
    background: #000000 !important;
    color: #ffffff !important;
    border: none;
}

/* Текстове поле */
textarea {
    resize: none;
    height: 20vh;
}

/* Назва сторінки */
h1 {
    font-size: 2rem;
}

/* Картинка */
img {
    width: 10vw;
}

/* Контейнер сторінок додавання та редагування */
.add_product, .edit_product {
    display: flex;
    justify-content: center;
    min-height: 91vh;
    width: 35vw;
    margin: 2vh auto;
    box-shadow: #ffffff 0 0 10px -4px;
    border-radius: 25px;
    background: #1d1d1d;
}

/* Форма додавання */
.product_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
}

/* Відступи для заголовків форми */
.product_form p {
    margin: 2vh 0 1vh 0;
}

/* Контейнер товарів */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 2.5vh 15vw;
}

/* Товар */
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2vh;
    background: #1d1d1d;
    padding: 2.5vh 2vw;
}

/* Кнопки редагування і видалення під товаром у детальній сторінці */
.buttons {
    display: flex;
    gap: 25px;
    align-items: center;
}

/* Кнопка детальніше і додавання в корзину */
.more_info, .add_to_basket {
    border-radius: 20px;
    padding: 10px 5px;
    background: #000000;
    width: 100%;
}

/* Кнопка видалити */
.delete {
    color: red;

    &:hover {
        background-color: #000000 !important;
    }
}

/* Кнопка додавання в корзину */
.add_to_basket {
    background-color: #000000;
    color: #8dff6e;
    width: 100%;
}

/* Слайдер кнопки вперед і назад колір */
.slick-prev:before,
.slick-next:before {
    color: black !important;
    font-size: 1.5rem !important;
    opacity: 1 !important;
}
