@tailwind base;
@tailwind components;
@tailwind utilities;

/* ЗАГАЛЬНІ СТИЛІ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background: #090909;
    color: #ffffff;
}

header {
    background: #202020;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

main {
    min-height: 90vh;
    padding: 50px;
}

.main_show, .main_create {
    display: flex;
    justify-content: center;
}

footer {
    background: #202020;
    color: #8a8a8a;
    font-size: 1.25rem;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_icon {
    width: 1.5vw;
    height: 1.5vw;
}

input, textarea {
    background: #090909 !important;
    color: #ffffff !important;
    border-radius: 10px !important;
    border: none;
    height: 5vh;
}

input::placeholder, textarea::placeholder {
    color: #535353;
}

input[type='file'] {
    padding: 10px 0 10px 40%;
    width: 100%;
    color: #535353 !important;
}

input::file-selector-button {
    display: none;
}

textarea {
    resize: none;
    height: 20vh;
}

h1 {
    font-size: 2rem;
    margin-bottom: 50px;
}

.product_name {
    font-size: 1.5rem;
}

.product_price {
    font-size: 1.25rem;
    font-weight: bolder;
}

.total_price {
    font-size: 1.5rem;
    font-weight: bolder;
}

.black_button {
    border-radius: 20px;
    padding: 10px 5px;
    background: #090909;
    width: 100%;
    text-align: center;
    height: 5vh;
    font-size: 1.25rem;
}

.no_product {
    color: red;
    cursor: not-allowed;
}

.red {
    color: red;

    &:hover {
        background: #090909 !important;
    }
}

.green {
    color: #8dff6e;
}

/* PRODUCT INDEX */
.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.product {
    background: #202020;
}

.product_link {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2vh;
    padding: 2vh 1vw;
}

.product_button {
    width: 100%;
    padding: 0 1vw 2vh 1vw;
}

.image_index, .empty_image {
    width: 8vw;
    height: 18vh;
}

/* PRODUCT SHOW */
.product_show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 4vh;
    background: #202020;
    padding: 25px 25px;
    border-radius: 25px;
    width: 25vw;
}

.image_show {
    width: 12vw;
    height: 26vh;
}

.slider {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
}

.slider_single_photo {
    grid-template-columns: 1fr;
}

.slider_button {
    background: #090909;
    border-radius: 25%;
    font-size: 2.5rem;
    height: 5vh;
    width: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_count {
    grid-row: 2/2;
    grid-column: 1/4;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
    width: 100%;
}

/* PRODUCT CREATE - EDIT */
.add_product, .edit_product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    border-radius: 10px;
    background: #202020;
    width: 30vw;
    padding: 3vh 2vw;
}

.add_product_image_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 10px;
}

.add_product_image {
    width: 10vw;
    height: 18vh;
}

/* BASKET */
.basket_order {
    gap: 2.5vh;
}

.total_length {
    font-size: 1.25rem;
    font-weight: bolder;
}

.basket_products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 25px;
    background: #090909;
    padding: 25px;
    border-radius: 10px;
}

.basket_product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.basket_image {
    width: 5vw;
    height: 10vh;
}

/* DASHBOARD */
.orders {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 0 15vw;
}

.order {
    border-radius: 10px;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    justify-items: center;
    align-items: center;
    background-color: #202020;
}

.order_product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    width: 10vw;
    height: 30vh;
}

.order_product_image {
    width: 8vw;
    height: 18vh;
}

/* ORDER CONFIRMED */
/* Сторінка виконаного замовлення */
.order_confirmed {
    grid-template-columns: repeat(6, 1fr);
}

/* PROJECT - TASK */
.main_project_task {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 50px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    border-radius: 10px;
    color: black;
    box-shadow: 0 0 10px -4px #ffffff;
    /*border: 1px solid red;*/
}

.rows {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    border-top: 1px solid #5c5c5c;
    font-size: 1.25rem;
    background: white;

    &:hover {
        background-color: #dddddd !important;
    }
}

.project_edit_name {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    background: #101010;
}

.project_edit_name_input {
    border-radius: 0 !important;
    width: 100%;
    background: #101010 !important;
}

.project_header {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #101010;
    color: white;
    border-radius: 10px 10px 0 0;
}

.remove_background_hover:hover {
    background-color: #dddddd !important;
    /*border: 1px solid red !important;*/
}

.capitalize-text {
    text-transform: capitalize;
}

.form_input {
    padding: 0 !important;
    background: #101010;
    color: white;
    border-radius: 0 0 10px 10px !important;
}

.task_input {
    width: 100%;
    background: #101010 !important;
    border-radius: 0 !important;
    height: 5vh;
}

.task_input:first-child {
    border-radius: 0 0 0 10px !important;
    border-right: 1px solid #5c5c5c;
}

.task_input:last-child {
    border-radius: 0 0 10px 0 !important;
    border-left: 1px solid #5c5c5c;
    font-size: 1rem;
}

.border-right {
    border-right: 1px solid #5c5c5c;
    width: 100%;
}

.border-left {
    border-left: 1px solid #5c5c5c;
    width: 100%;
}
