@media screen and (max-width: 1250px) {
    .products {
        grid-template-columns: repeat(4, 1fr);
    }

    .product_name {
        font-size: 1.25rem;
    }

    .add_product, .edit_product {
        width: 50vw;
    }

    .orders {
        padding: 0 5vw;
    }

    .order_product {
        width: 15vw;
    }

    .product_show {
        width: 50vw;
    }
}

@media screen and (max-width: 1000px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }

    .add_product, .edit_product {
        width: 60vw;
    }

    .orders {
        padding: 0 1vw;
    }

    .order {
        grid-template-columns: repeat(4, 1fr);
    }

    .order_product {
        width: 20vw;
    }

    .product_show {
        width: 60vw;
    }
}

@media screen and (max-width: 750px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .add_product, .edit_product {
        width: 70vw;
    }

    main {
        padding: 20px;
    }

    .project {
        width: 90vw;
    }

    .rows {
        grid-template-columns: repeat(3, 1fr);
    }

    .order {
        grid-template-columns: repeat(3, 1fr);
    }

    .order_product {
        width: 25vw;
    }

    .product_show {
        width: 75vw;
    }
}

@media screen and (max-width: 500px) {
    .products {
        grid-template-columns: 1fr;
    }

    .basket_products {
        grid-template-columns: 1fr;
        padding: 50px;
    }

    .add_product, .edit_product {
        width: 80vw;
    }

    .order {
        grid-template-columns: repeat(2, 1fr);
    }

    .order_product {
        width: 30vw;
    }

    .product_show {
        width: 90vw;
    }

    .black_button {
        font-size: 1rem;
    }
}

@media screen and (max-width: 350px) {
    main {
        padding: 10px;
    }

    .add_product, .edit_product {
        width: 90vw;
    }

    .order {
        grid-template-columns: 1fr;
    }

    .order_product {
        width: 50vw;
    }
}
