@media screen and (max-width: 1250px) {
    .products {
        grid-template-columns: repeat(4, 1fr);
        border: 1px solid red;
    }

    .add_product, .edit_product {
        width: 50vw;
    }

    .order {
        grid-template-columns: repeat(4, 1fr);
    }

    .order_product {
        width: 15vw;
    }

    .product_show {
        width: 50vw;
    }

    .product_name {
        font-size: 1.15rem;
    }

    .basket_products {
        grid-template-columns: 1fr 1fr;
        padding: 50px;
    }
}

@media screen and (max-width: 1000px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
    }

    .add_product, .edit_product {
        width: 60vw;
    }

    .order {
        grid-template-columns: repeat(3, 1fr);
    }

    .order_product {
        width: 20vw;
    }

    .product_show {
        width: 60vw;
    }
}

@media screen and (max-width: 750px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .add_product, .edit_product {
        width: 70vw;
    }

    .order {
        grid-template-columns: repeat(2, 1fr);
    }

    .order_product {
        width: 25vw;
    }

    .product_show {
        width: 70vw;
    }

    .black_button {
        font-size: 1rem;
    }
}


@media screen and (max-width: 500px) {
    .products {
        grid-template-columns: 1fr;
    }

    .add_product, .edit_product {
        width: 80vw;
    }

    .order {
        grid-template-columns: repeat(1, 1fr);
    }

    .order_product {
        width: 40vw;
    }

    .product_show {
        width: 80vw;
    }

    .basket_products {
        grid-template-columns: 1fr;
        padding: 75px;
    }
}
