/* DASHBOARD */
.orders {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 0 15vw;
}

.order {
    border-radius: 10px;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    justify-items: center;
    align-items: center;
    background-color: #202020;
}

.order_product {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    width: 10vw;
    height: 30vh;
}

/* ORDER CONFIRMED */
.order_confirmed {
    grid-template-columns: repeat(6, 1fr);
}
