.add_product, .edit_product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
    border-radius: 10px;
    background: #202020;
    width: 40vw;
    padding: 4vh 3vw;
}

.add_product_image_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 10px;
}
