.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.product {
    background: #202020;
}

.product_link {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2vh;
    padding: 2vh 1vw;
}

.product_button {
    width: 100%;
    padding: 0 1vw 2vh 1vw;
}
