.main_project_task {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 50px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    border-radius: 10px;
    color: black;
    box-shadow: 0 0 10px -4px #ffffff;
}

.rows {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    border-top: 1px solid #5c5c5c;
    font-size: 1.25rem;
    background: white;

    &:hover {
        background-color: #dddddd !important;
    }
}

.project_edit_name {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    background: #101010;
}

.project_edit_name_input {
    border-radius: 0 !important;
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    background: #101010 !important;

    &:hover {
        background: #101010 !important;
    }
}

.task_edit_input {
    background: #ffffff !important;
    color: #000000 !important;
    font-size: 1.25rem;

    &:hover {
        background: #ffffff !important;
    }
}

.task_edit_input_right_border {
    border-right: 1px solid #5c5c5c;
}

.task_edit_input_left_border {
    border-left: 1px solid #5c5c5c;
}

.task_edit_input:first-child {
    margin: 10px 0;
    border-top: 1px solid #5c5c5c;
    border-right: 1px solid #5c5c5c;
}

.task_edit_input_top_border {
    border-top: 1px solid #5c5c5c;
}

.task_edit_input_left_border {
    border-left: 1px solid #5c5c5c;
    border-top: 1px solid #5c5c5c;
}

.project_header {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #101010;
    color: white;
    border-radius: 10px 10px 0 0;
}

.remove_background_hover:hover {
    background-color: #dddddd !important;
}

.capitalize-text {
    text-transform: capitalize;
}

.form_input {
    padding: 0 !important;
    background: #101010;
    color: white;
    border-radius: 0 0 10px 10px !important;
}

.task_input {
    width: 100%;
    background: #101010 !important;
    border-radius: 0 !important;
    height: 5vh;
}

.task_input:first-child {
    border-radius: 0 0 0 10px !important;
    border-right: 1px solid #5c5c5c;
}

.task_input:last-child {
    border-radius: 0 0 10px 0 !important;
    border-left: 1px solid #5c5c5c;
    font-size: 1rem;
}

.border-right {
    border-right: 1px solid #5c5c5c;
    width: 100%;
}

.border-left {
    border-left: 1px solid #5c5c5c;
    width: 100%;
}
