@media screen and (max-width: 1250px) {
    .products, .search_box {
        grid-template-columns: repeat(4, 1fr);
    }

    .add_product, .edit_product, .product_show {
        width: 50vw;
    }

    .order {
        grid-template-columns: repeat(5, 1fr);
    }

    .product_name, .product_price {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 1000px) {
    .products, .search_box {
        grid-template-columns: repeat(3, 1fr);
    }

    .add_product, .edit_product, .product_show {
        width: 60vw;
    }

    .order {
        grid-template-columns: repeat(4, 1fr);
    }

    .order_header, .order_confirmed_header {
        grid-template-columns: repeat(4, 1fr) !important;
    }

    .prev_next_container {
        width: 50vw;
    }

    .basket_product {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;

        .item_1 {
            grid-column: 2;
            grid-row: 1;
        }

        .item_2 {
            grid-column: 1;
            grid-row: 1;
        }

        .item_7 {
            grid-column: 2;
        }
    }
}

@media screen and (max-width: 750px) {
    .products, .search_box {
        grid-template-columns: repeat(2, 1fr);
    }

    .add_product, .edit_product, .product_show {
        width: 70vw;
    }

    .order {
        grid-template-columns: repeat(2, 1fr);
    }

    .order_header, .order_confirmed_header {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .black_button {
        font-size: 1rem;
    }

    .product_button {
        padding: 0 2vw 2vh;
    }

    .form_input {
        display: flex;
        flex-direction: column;
    }

    .task_input {
        border-bottom: 1px solid #505050 !important;
    }

    .task_input:last-child {
        border-radius: 10px !important;
    }

    .rows, .task_edit_rows {
        grid-template-columns: 1fr;
    }

    .task_edit_rows button {
        border-bottom: 1px solid #7a7a7a;
        height: 5vh;
    }

    .task_edit_input, .task_edit_rows button {
        border-right: none !important;
        border-bottom: 0.5px solid #616161 !important;
    }

    .task_input:first-child {
        border-radius: 0 !important;
    }

    .task-name {
        font-weight: 500;
        font-size: 1.4rem;
    }

    .add_product_image_container {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 500px) {
    .products, .search_box {
        grid-template-columns: 1fr;
    }

    .add_product, .edit_product, .product_show {
        width: 90vw;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .main_show {
        padding: 25px;
    }

    .product_show {
        padding: 10px;
    }

    .order {
        grid-template-columns: repeat(1, 1fr);
    }

    .order_header, .order_confirmed_header {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .prev_next_container {
        width: 60vw;
        gap: 15px;
        font-size: 1.25rem;
    }

    .buttons {
        flex-direction: column;
    }

    .add_product_image_container {
        grid-template-columns: 1fr;
    }

    .basket_product {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
        justify-items: center;

        .item_1 {
            grid-column: 1;
            grid-row: 1;
        }

        .item_2 {
            grid-column: 1;
            grid-row: 2;
        }

        .item_7 {
            grid-column: 1;
        }

        button {
            width: 50%;
        }
    }
}
