.search_box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 50px;
}

.search_box input, .search_box select, .search_box .search_price_div, .search_box button {
    background: var(--dark-2-background) !important;
    border-radius: 5px !important;
    color: #858585 !important;
    height: 5vh;

    &:hover {
        background: #252525 !important;
        color: white !important;
    }
}

.search_price_div {
    height: 5vh;
    display: flex;
    flex-direction: column;
    padding: 2px 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: var(--dark-background);
    border-radius: 5px;
}

.no_products_message {
    grid-column: 1/6;
    background: var(--dark-2-background);
    border-radius: 5px;
    padding: 25px;
    margin: 0 auto;
}

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.product {
    background: var(--dark-2-background);
    border-radius: 5px;
    transition: 0.25s;

    img {
        border-radius: 5px 5px 0 0;
    }

    &:hover {
        transition: 0.25s;
        scale: 102.5%;
    }
}

.product_link {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-bottom: 2vh;
}

.product_button {
    padding: 0 1vw 2vh 1vw;
}

.prev_next_wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .prev_next_container {
        grid-column: 3/4;
    }
}

.prev_next_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 1.5rem;
    background: var(--dark-2-background);
    width: 100%;
    margin: 50px auto 0 auto;
    border-radius: 15px;
    height: 5vh;

    a {
        color: #505050;

        &:hover {
            color: #777777;
        }
    }
}
