.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.product {
    background: #202020;

    transition: 0.5s;

    &:hover {
        transition: 0.5s;
        scale: 102.5%;
        background: #151515;
    }
}

.product_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding: 2vh 1vw;
}

.product_button {
    padding: 0 1vw 2vh 1vw;
}
