.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.product {
    background: #202020;
}

.product_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding: 2vh 1vw;
}

.product_button {
    padding: 0 2vw 2vh 2vw;
}

.prev_next_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    font-size: 2rem;

    a {
        font-size: 2.5rem;
    }
}

.empty_prev_next_buttons {
    color: #878787;
}

.search {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin: 0 auto 25px auto;
    background: #202020;
    padding: 3px;
    border-radius: 15px;
}
