.product_show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    background: var(--dark-2-background);
    padding: 25px;
    border-radius: 25px;
    width: 40vw;
}

.image_show {
    max-height: 40vh;
}

.slider {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 5px;
}

.slider_single_photo {
    display: grid;
    justify-items: center;
}

.slider_button {
    background: #090909;
    border-radius: 20%;
    font-size: 2.5rem;
    height: 5vh;
    min-width: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_count {
    font-size: 1.5rem;
    grid-column: 1/4;
}

.buttons {
    display: flex;
    gap: 25px;
}
