@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

@keyframes spin_fade {
    from {
        opacity: 0;
        height: 0;
    }
    to {
        opacity: 1;
        height: 45vh;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes scale_shop_button {
    0% {
        filter: blur(0.25rem);
    }
    50% {
        filter: blur(0.5rem);
    }
    100% {
        filter: blur(0.25rem);
    }
}
