:root {
    --gradient: #ff0000, #00abff, #ff8000, #7b00ff
}

.container_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    width: 50vw;
    height: 90vh;
    transition: 2s;

    img {
        transition: 2s;
        transform: scale(150%);

        &:hover {
            transition: 2s;
            transform: scale(160%);
            margin-bottom: -0.5rem;
        }
    }

    &:hover::before {
        transition: 2s;
        width: 35vw;
    }

    p {
        font-size: 3rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: var(--white);
    }
}

.container_1::before {
    content: '';
    position: absolute;
    height: 45vh;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    --angle: 0deg;
    background-image: conic-gradient(from var(--angle), var(--gradient));
    animation: spin 15s linear infinite, spin_fade 10s forwards;
    filter: blur(7rem);
    transition: 2s;
}

.container_2 {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 100px;
    transition: 2s;

    .p_container_2 {
        font-size: 3rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background: linear-gradient(90deg, var(--gradient));
        background-size: 300%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: gradientAnimation 10s ease infinite;
        transition: 2s;

        &:hover {
            transition: 2s;
            scale: 110%;
        }
    }

    .img_container_2 {
        transform: scale(150%);
        margin-top: 10vh;
        transition: 2s;

        &:hover {
            transition: 2s;
            transform: scale(160%);
        }
    }
}

.shop_button {
    margin-bottom: 50px;
    background: rgba(32, 32, 32, 0.9) !important;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5vh;
    width: 20vw;
    padding: 25px;
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    transition: 2s;

    &:hover {
        transition: 2s;
        background: rgba(32, 32, 32, 95) !important;
    }
}

.shop_button::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    --angle: 0deg;
    animation: spin 10s linear infinite, scale_shop_button 5s ease-in-out infinite;
    transition: 2s;
    background-image: conic-gradient(from var(--angle), var(--gradient));
    filter: blur(0.5rem);
    border-radius: 50px;
}
