.main_project_task {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.create_project {
    gap: 2.5vh;
    width: 30vw;
    padding: 25px;
}

.project {
    display: flex;
    flex-direction: column;
    width: 75vw;
    color: black;
}

.project_header {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--dark-2-background);;
    color: white;
    border-radius: 10px 10px 0 0;
}

.project_edit_name {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.project_edit_name_input {
    border-radius: 0 !important;
    background: var(--dark-2-background) !important;

    &:first-child {
        border-radius: 10px 0 0 0 !important;
    }

    &:last-child {
        border-radius: 0 10px 0 0 !important;
    }

    &:hover {
        background: var(--dark-2-background) !important;
    }
}

.rows {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: white;
    font-size: 1.25rem;
}

.rows p {
    width: 100%;
    border: 0.5px solid #a8a8a8;
}

.task_edit_rows {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.task_edit_input {
    background: var(--white) !important;
    color: #000000 !important;
    border-radius: 0 !important;
    height: 3vh;
    padding: 0;
    font-size: 1.25rem;
    border: 0.5px solid #a8a8a8 !important;
}

.task_edit_buttons {
    border-radius: 0;
    background: var(--dark-2-background) !important;
    font-size: 1rem;
    height: 3vh;

    &:hover {
        background: var(--dark-2-background) !important;
    }
}

.capitalize-text {
    text-transform: capitalize;
}

.form_input {
    background: var(--dark-2-background);
    color: white;
    border-radius: 0 0 10px 10px !important;
}

.task_input {
    background: var(--dark-2-background) !important;
    border-radius: 0 !important;
    height: 5vh;
}

.task_input:first-child {
    border-radius: 0 0 0 10px !important;
}

.task_input:last-child {
    border-radius: 0 0 10px 0 !important;
    font-size: 1rem;
}
